/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General tag */
header{
    background-color: white;
    height: 80px;
    line-height: 80px;
}
body{
    background-color: #dedede;
}
main{
    background-color: white;
    height: 750px;
    width: 1000px;
    margin: 50px auto;
    border-radius: 10px;
}

/* Header */
#logo{
    margin-left: 20px;
    vertical-align: middle;
}
#header-title{
    display: inline;
    vertical-align: middle;
    font-family: 'Bree Serif', serif;
}

/* Sezione Centrale */
/* Pulsanti */
.section-buttons{
    line-height: 70px;
    height: 70px;
    padding-left: 50px;
    border-bottom: 2px solid #dedede;
}
.primary-section{
    background-color: white;
    border-radius: 5px;
    vertical-align: middle;
    padding: 10px 20px;
    margin: 0 2px;
}
.primary-section.btn1{
    color: white;
    background-color: #46adf0;
    border-color: #40a8ef;
}
.primary-section.btn2{
    color: #9b9b9b;
    background-color: white;
    border-color: #dedede;
}

/* New Task */
.new-task, .today, .upcoming{
    margin-top: 20px;
    margin-left: 50px;
    height: 70px;
}
details > summary {
    font-size: 26px;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
.check-mark{
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}
.summary-content{
    margin-top: 10px;
}
.line-summary > .text{
    font-size: 20px;
    vertical-align: middle;
    margin-left: 5px;
}
.line-summary > .btn{
    color: white;
    background-color: #46adf0;
    border-color: #1c74af;
    border-radius: 10px;
    padding: 5px 10px;
    vertical-align: middle;
    margin-left: 10px;
}
.line-summary{
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
}
/* Today Section */
.btn-goals{
    color: white;
    background-color: #9d72e5;
    border-color: #7d5bb7;
    border-radius: 10px;
    padding: 5px 10px;
    vertical-align: middle;
    margin-left: 10px;
}
.btn-recruiting{
    color: white;
    background-color: #66bfb3;
    border-color: #51988f;
    border-radius: 10px;
    padding: 5px 10px;
    vertical-align: middle;
    margin-left: 10px;
}
.btn-mobile{
    color: white;
    background-color: #d9a943;
    border-color: #d9a943;
    border-radius: 10px;
    padding: 5px 10px;
    vertical-align: middle;
    margin-left: 10px;
}
.x-mark{
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}
/* Upcoming Section */
.upcoming{
    margin-top: 200px;
}
.btn-sales{
    color: white;
    background-color: #efd49c;
    border-color: #efd49c;
    border-radius: 10px;
    padding: 5px 10px;
    vertical-align: middle;
    margin-left: 10px;
}
.btn-website{
    color: white;
    background-color: #b66cc2;
    border-color: #b66cc2;
    border-radius: 10px;
    padding: 5px 10px;
    vertical-align: middle;
    margin-left: 10px;
}