/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General tag */
header{
    background-color: white;
    height: 80px;
    line-height: 80px;
}
body{
    background-color: #dedede;
}
main{
    background-color: white;
    height: 700px;
    width: 1000px;
    margin: 50px auto;
    border-radius: 10px;
}

/* Header */
#logo{
    margin-left: 20px;
    vertical-align: middle;
}
#header-title{
    display: inline;
    vertical-align: middle;
    font-family: 'Bree Serif', serif;
}